extends layouts

block content
  if errrorMessage
    span=errrorMessage
  form(method="POST")
    input(type="password", placeholder="현재 비밀번호", name="nowPassword", required)
    input(type="password", placeholder="새로운 비밀번호", name="newPassword", required)
    input(type="password", placeholder="새로운 비밀번호 확인", name="newPasswordConfirm", required)
    input(type="submit", value="변경하기")
